<!DOCTYPE html>
<html lang="en" ng-app="welcome">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">	
	<link rel='stylesheet' href='/stylesheets/welcome.css' />
</head>
<body>
	<header>
		<div class="logo col-sm-4">
			<a href="/welcome"><img src="images/logo.png" alt="logo">odular</a>
		</div>
		<div class="col-sm-3">
			<!-- <a href=""><button class="btn btn-primary">Sign up</button></a> -->
		</div>
		<div class="col-sm-5">
			<form action="/sessions/create" class="form-inline" role="form">
				<input type="text" class="form-control" placeholder="email address">
				<input type="password" class="form-control" placeholder="password">
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</header>

	<div ng-controller="welcomeController">
		<div class="col-sm-6 col-sm-offset-1">
			<h2>Register</h2>	

	<!-- works as standard form submission -->

		<form action="/users/create" method="post" role="form">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" name="user[first_name]" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="user[last_name]" placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="user[email]" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="user[password]" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>
	
<!-- 	 	<form action="" class="css-form" role="form">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name" required />
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name" required />
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" ng-model="user.email" placeholder="Email" required />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="addUser()">Register</button>
			</div>
		</form>
		<p>Data below</p>
		<pre>{{ user | json }}</pre>
		<pre>{{ user.password_confirmation }}</pre>
		<p>Data above</p> -->
	</div>
</div>
</body>
</html>