<!DOCTYPE html>
<html lang="en" ng-app="welcome">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/welcome.css" />
</head>
<body>
	<header>
		<div class="logo col-sm-4">
			<a href="/welcome"><img src="images/logo.png" alt="logo">ode</a>
		</div>
		<div class="col-sm-3">
			<a href="/register"><button class="btn btn-primary">Sign up</button></a>
		</div>
		<div class="col-sm-5">
			<form action="/sessions/create" class="form-inline" role="form">
				<input type="text" class="form-control" placeholder="email address">
				<input type="password" class="form-control" placeholder="password">
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</header>

	<div ng-controller="welcomeController">
		<div class="jumbotron">
			<h1>Welcome to Node</h1>
			<p>Your home on the web.</p>
			<p>Sign in above, or register for a free account.</p>
			<a href="/register"><button class="btn btn-primary btn-lg">Get Started!</button></a>
		</div>
	</div>
</body>
</html>