<!DOCTYPE html>
<html lang="en" ng-app="portal">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/portal_routes.js"></script>
	<script src="/js/services/socketfactory.js"></script>
	<script src="/js/services/conduitservice.js"></script>
	<script src="/js/controllers/nav.js"></script>
	<script src="/js/controllers/portal.js"></script>
	<script src="/js/controllers/visitee.js"></script>	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body ng-controller="navController">
	<header>
		<div class="logo col-xs-2">
			<a href="#/main"><img src="images/logo.png">odular</a>
		</div>
		<div class="col-xs-4">
			<input type="text" placeholder="Search for people" ng-model="searchlight">
			<div class="friend_search" ng-show="searchlight">
				<p ng-repeat="person in everyone_else | filter: searchlight">					
					<a ng-href="#/profile/{{person._id}}"><img ng-src="{{person.pic}}"><span ng-bind="person.first_name + ' ' + person.last_name"></span></a>
				</p>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="col-xs-9">
				<a href="#/profile" ng-bind="me.first_name + ' ' + me.last_name"></a>
			</div>
			<div class="col-xs-3">
				<a href="#/main">Home</a>
			</div>
		</div>
		<div class="col-xs-2">
			<a href=""><i class="fa fa-users" ng-click="test()"></i></a>
			<a href=""><i class="fa fa-comments-o"></i></a>					
			<a href=""><i class="fa fa-bell-o" ng-click="ping()"></i></a>
			<a href="#/settings"><i class="fa fa-cogs"></i></a>
		</div>
		<div class="col-xs-1">
			<a href="/signout">Sign out</a>
		</div>
	</header>

	<div class="col-xs-12">

		<div class="main_content col-xs-9" ng-view></div>

		<div class="right_sidebar col-xs-2 col-xs-offset-1">
			<div class="notifications">
				<h4>Notifications</h4>
<!-- -------------- mockup -------------- -->					
<!-- 				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p>
				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p> -->
<!-- ============== end mockup ============== -->				
			</div>
			<div class="contact_list">
				<h4>Friends</h4>
				<p ng-repeat="person in friends_list">					
					<a ng-href="#/profile/{{person._id}}"><img ng-src="{{person.pic}}"><span class="user_name">{{ person.first_name }} {{ person.last_name }}</span></a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>