<!DOCTYPE html>
<html lang="en" ng-app="portal">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/welcome_routes.js"></script>
	<script src="/js/services/socketfactory.js"></script>
	<script src="/js/services/conduitservice.js"></script>
	<script src="/js/controllers/welcome.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/welcome.css" />
</head>
<body>
	<header ng-controller="welcomeController">
		<div class="logo col-xs-4">
			<a href="#/welcome"><img src="images/logo.png" alt="logo">odular</a>
		</div>
		<div class="col-xs-5 col-xs-offset-3">
			<form class="css-form form-inline" role="form" name="sign_in" novalidate>
				<input type="email" ng-model="user.email" class="form-control" placeholder="email address" required />
				<input type="password" ng-model="user.password" class="form-control" placeholder="password" required />
				<button class="btn btn-primary" ng-click="login(user)" ng-disabled="sign_in.$invalid">Sign in</button>
			</form>
		</div>
	</header>
	<div class="main_content" ng-view></div>
</body>
</html>