<div class="container" ng-controller="portalController">
	
	<div class="sidebar col-xs-3">
		<p class="user_name" ng-bind="me.first_name + ' ' + me.last_name"></p>
		<img ng-src="{{me.pic}}" alt="profile pic">
		<p class="italics" ng-bind="me.status"></p>

<!-- -------------- mockup -------------- -->
		<h5>Events</h5>
		<h5>GROUPS</h5>
		<ul>
			<li><a href="">St. Barts classes</a></li>
			<li><a href="">St. Barts alumni</a></li>
			<li><a href="">The Baker St. Regulars</a></li>
		</ul>
	</div>
<!-- ============== end mockup ============== -->

	<div class="newsfeed col-xs-7">
		<div class="well status">
			<form name="statusForm">
				<i class="fa fa-pencil"></i>
				<p>Update Status</p>
				<textarea class="form-control" rows="2" placeholder="What's on your mind?" ng-model="new_status"></textarea>
				<button class="btn-primary pull-right" ng-click="writeStatus(new_status)">Post Status</button>
			</form>
		</div>

		<div class="well post">

			<form ng-hide="picPoster" role="form" name="postForm">
				<a href="" class="selected" ng-click="chooseText()">
					<i class="fa fa-pencil-square-o"></i><p>Post</p>
				</a>
				<a href="" ng-click="choosePic()">
					<i class="fa fa-picture-o"></i><p>Picture</p>
				</a>
				<textarea class="form-control" rows="3" ng-model="new_post" placeholder="Write something..."></textarea>
				<button class="btn-primary pull-right" ng-click="writeMyPost(new_post)">Post</button>
				<p class="green" ng-bind="confirmation_msg"></p>
			</form>

			<form action="/picpost/create" method="post" class="form-horizontal" enctype="multipart/form-data" role="form" ng-show="picPoster">
				<a href="" ng-click="chooseText()">
					<i class="fa fa-pencil-square-o"></i><p>Post</p>
				</a>
				<a href="" class="selected" ng-click="choosePic()">
					<i class="fa fa-picture-o"></i><p>Picture</p>
				</a>
				<textarea class="form-control" rows="3" name="new_post_pic.content" placeholder="Say something about this..."></textarea>
				<label for="pic_input">Select Picture:</label>
				<input type="file" name="new_post_pic.picture" id="pic_input">
				<button type="submit" class="btn-primary pull-right">Post</button>
			</form>
		</div>

		<div class="well" ng-repeat="entry in allPosts | orderBy: 'created_at' : 'reverse'">
			<div ng-repeat="author in posters">
				<div ng-if="entry.author_id == author._id">
					<div class="topper">
						<a ng-href="#/profile/{{author._id}}">
							<img class="thumbnail" ng-src={{author.pic}} alt="">
							<span class="user_name" ng-bind="author.first_name + ' ' + author.last_name"></span>
						</a>
					</div>
					<p ng-bind="entry.content"></p>
				</div>
			</div>
		</div>

<!-- -------------- mockup -------------- -->
		<div class="well">
			<p class="user_name"><a href="">John Watson</a></p>
			<p>OMG OMG OMG.  Dr. Who is baaaack!!!! I'm soooo excited.  It seems like I've been waiting forever.</p>
			<ul>
				<li><a href="">Like</a></li>
				<li><a href="">Comment</a></li>
				<li><a href="">Share</a></li>
			</ul>
			<div class="well">
				<p class="user_name"><a href="">Jim Moriarty</a></p>
				<p>He's not the only one...</p>
				<ul>
					<li><a href="">Like</a></li>
					<li><a href="">Comment</a></li>
					<li><a href="">Share</a></li>
				</ul>
				<form role="form">
					<input type="text" name="comment" placeholder="Write a comment...">
					<button type="submit" class="btn-primary">Comment</button>
				</form>
			</div>
			<form role="form">
				<input type="text" name="comment" placeholder="Write a comment...">
				<button type="submit" class="btn-primary">Comment</button>
			</form>
		</div>
		<div class="well">
			<p class="user_name"><a href="">Irene Adler</a></p>
			<p>I'm not dead.  Let's have dinner</p>
			<ul>
				<li><a href="">Like</a></li>
				<li><a href="">Comment</a></li>
				<li><a href="">Share</a></li>
			</ul>
			<form role="form">
				<input type="text" name="comment" placeholder="Write a comment...">
				<button type="submit" class="btn-primary">Comment</button>
			</form>
		</div>
	</div>
<!-- ============== end mockup ============== -->

	<div class="placeholder col-xs-2">
		<p>Placeholder column sm-2</p>
	</div>

</div>