<div ng-controller="welcomeController">
	<div class="col-xs-6 col-xs-offset-1">
		<h2>Register</h2>	
	 	<form class="css-form" role="form" name="regForm" novalidate>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name" required />
					</div>
					<div class="col-xs-6">
						<input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name" required />
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" ng-model="user.email" placeholder="Email" required />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password" required />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="addUser(user)" ng-disabled="regForm.$invalid">Register</button>
			</div>
		</form>
	</div>
	<div class="col-xs-5 messages">
		<p class="red" ng-bind="reg_error"></p>
		<p class="green" ng-bind="notice"></p>
	</div>
</div>