<div class="container" ng-controller="visiteeController">

	<div class="col-xs-12 splash">
		<div class="frame1">
			<img ng-src="{{ visitee.cover }}" alt="">
		</div>
		<div class="persona">
			<div class="frame2">
				<img ng-src="{{ visitee.pic }}" alt="">
			</div>
			<div class="nav">
				<h3 ng-bind="visitee.first_name + ' ' + visitee.last_name"></h3>			
				<ul>
					<li ng-hide="friendly" ng-click="addFriend(visitee._id)"><a href="">Add Friend</a></li>
					<li ng-show="friendly" ng-click="dropFriend(visitee._id)"><i class="fa fa-check"></i><a href="">Friend</a></li>
					<li ng-click="ping()"><a href="">Message</a></li>
					<li ng-click="showFriends()"><a href="">Friends List</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="sidebar col-xs-3">
		<p class="italics" ng-bind="visitee.status"></p>
		<h3>About</h3>
		<p><span class="category">Name: </span><span ng-bind="visitee.first_name + ' ' + visitee.last_name"></span></p>
		<p><span class="category">Occupation: </span><span ng-bind="visitee.work"></span></p>
		<p><span class="category">Hometown: </span><span ng-bind="visitee.hometown"></span></p>
		<h5>Events</h5>
		<h5>GROUPS</h5>
		<ul>
			<li><a href="">St. Barts classes</a></li>
			<li><a href="">St. Barts alumni</a></li>
			<li><a href="">The Baker St. Regulars</a></li>
		</ul>
	</div>
	<div class="newsfeed col-xs-7">
		<div class="well">
			<p class="user_name"><a href="">John Watson</a></p>
			<p>OMG OMG OMG.  Dr. Who is baaaack!!!! I'm soooo excited.  It seems like I've been waiting forever.</p>
			<ul>
				<li><a href="">Like</a></li>
				<li><a href="">Comment</a></li>
				<li><a href="">Share</a></li>
			</ul>
			<div class="well">
				<p class="user_name"><a href="">Jim Moriarty</a></p>
				<p>He's not the only one...</p>
				<ul>
					<li><a href="">Like</a></li>
					<li><a href="">Comment</a></li>
					<li><a href="">Share</a></li>
				</ul>
				<form role="form">
					<input type="text" name="comment" placeholder="Write a comment...">
					<button type="submit" class="btn-primary">Comment</button>
				</form>
			</div>
			<form role="form">
				<input type="text" name="comment" placeholder="Write a comment...">
				<button type="submit" class="btn-primary">Comment</button>
			</form>
		</div>
		<div class="well">
			<p class="user_name"><a href="">Irene Adler</a></p>
			<p>I'm not dead.  Let's have dinner</p>
			<ul>
				<li><a href="">Like</a></li>
				<li><a href="">Comment</a></li>
				<li><a href="">Share</a></li>
			</ul>
			<form role="form">
				<input type="text" name="comment" placeholder="Write a comment...">
				<button type="submit" class="btn-primary">Comment</button>
			</form>
		</div>
	</div>
</div>