<div class="container" ng-controller="visiteeController">

	<div class="col-xs-12 splash">
		<div class="frame1">
			<img ng-src="{{ visitee.cover }}" alt="">
		</div>
		<div class="persona">
			<div class="frame2">
				<img ng-src="{{ visitee.pic }}" alt="">
			</div>
			<div class="nav">
				<h3 ng-bind="visitee.first_name + ' ' + visitee.last_name"></h3>			
				<ul>
					<li ng-hide="friendly" ng-click="addFriend(visitee._id)"><a href="">Add Friend</a></li>
					<li ng-show="friendly" ng-click="dropFriend(visitee._id)"><i class="fa fa-check"></i><a href="">Friend</a></li>
					<li ng-click="ping()"><a href="">Message</a></li>
					<li ng-click="showFriends()"><a href="">Friends List</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="sidebar col-xs-3">
		<p class="italics" ng-bind="visitee.status"></p>
		<h3>About</h3>
		<p><span class="category">Name: </span><span ng-bind="visitee.first_name + ' ' + visitee.last_name"></span></p>
		<p><span class="category">Occupation: </span><span ng-bind="visitee.work"></span></p>
		<p><span class="category">Hometown: </span><span ng-bind="visitee.hometown"></span></p>

<!-- -------------- mockup -------------- -->		
		<h5>Events</h5>
		<h5>GROUPS</h5>
		<ul>
			<li><a href="">St. Barts classes</a></li>
			<li><a href="">St. Barts alumni</a></li>
			<li><a href="">The Baker St. Regulars</a></li>
		</ul>
	</div>
<!-- ============== end mockup ============== -->

	<div class="newsfeed col-xs-7">
		<div class="well post">

			<form ng-hide="picPoster" name="postForm" role="form">
				<a href="" class="selected" ng-click="chooseText()">
					<i class="fa fa-pencil-square-o"></i><p>Post</p>
				</a>
				<a href="" ng-click="choosePic()">
					<i class="fa fa-picture-o"></i><p>Picture</p>
				</a>
				<textarea class="form-control" rows="3" ng-model="new_post" placeholder="Write something..."></textarea>
				<button class="btn-primary pull-right" ng-click="writeYourPost(new_post)">Post</button>
				<p class="green" ng-bind="confirmation_msg"></p>
			</form>

			<form action="/picpost/create" method="post" class="form-horizontal" enctype="multipart/form-data" role="form" ng-show="picPoster">
				<a href="" ng-click="chooseText()">
					<i class="fa fa-pencil-square-o"></i><p>Post</p>
				</a>
				<a href="" class="selected" ng-click="choosePic()">
					<i class="fa fa-picture-o"></i><p>Picture</p>
				</a>
				<input type="hidden" name="wall_id" ng-value="visitee._id">
				<input type="hidden" name="author_id" ng-value="me._id">
				<textarea class="form-control" rows="3" name="content" placeholder="Say something about this..."></textarea>
				<label for="pic_input">Select Picture:</label>
				<input type="file" name="new_post_pic" id="pic_input">
				<button type="submit" class="btn-primary pull-right">Post</button>
			</form>
		</div>

		<div class="well" ng-repeat="entry in yourPosts | orderBy: 'created_at' : 'reverse'">
			<div ng-repeat="author in posters">
				<div ng-if="entry.author_id == author._id">
					<div class="topper">
						<a ng-href="#/profile/{{author._id}}">
							<img class="thumbnail" ng-src={{author.pic}} alt="">
							<span class="user_name" ng-bind="author.first_name + ' ' + author.last_name"></span>
						</a>
					</div>
					<p ng-bind="entry.content"></p>
					<img ng-src="{{entry.pic}}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>