<!DOCTYPE html>
<html lang="en" ng-app="portal">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/welcome.css" />
	<script>
// ------------ /js/app.js ---------------	
	var portal = angular.module('portal', ['ngRoute']);
	var ioo = io;

	// io = io.connect();	// if i want to make io available in this scope...

// ------------ /js/welcome_routes.js ---------------
	portal.config(function ($routeProvider) {
		$routeProvider
			.when('/welcome',
			{
				templateUrl: '/partials/welcome.html'
			})
			.when('/register',
			{
				templateUrl: '/partials/register.html'
			})
			.otherwise({
				redirectTo: '/welcome'
			});
	});

// ------------ /js/factories/socket.js ---------------
	portal.factory('socket', function ($rootScope) {
		var socket = ioo.connect();
		var factory = {};

		factory.on = function (eventName, callback) {
    		socket.on(eventName, function () {  
        		var args = arguments;
        		$rootScope.$apply(function () {
        			callback.apply(socket, args);
        		});
      		});
    	};

	    factory.emit = function (eventName, data, callback) {
	    	socket.emit(eventName, data, function () {
	    		var args = arguments;
	    		$rootScope.$apply(function () {
	    			if (callback) {
	    				callback.apply(socket, args);
	    			}
	    		});
	    	});
	   	};

		factory.removeAllListeners = function (eventName, callback) {
	   		socket.removeAllListeners(eventName, function() {
	    		var args = arguments;
	    		$rootScope.$apply(function () {
	    			callback.apply(socket, args);
	    		});
	    	});
	   	};
	    
	    return factory;
	});

// ------------ /js/controllers/controllers.js ---------------
	portal.controller('welcomeController', function($scope, socket){    	

    	// $scope.logged_user = [];		// not sure if i need this just yet...
    	$scope.notice;
    	$scope.error_msg;
    	$scope.reg_error;

    	socket.on('error', function (data) {
    		console.log ('incoming errors: ', data.error_msg);
    		$scope.error_msg = data.error_msg;
    	});

    	socket.on('notice', function (data) {
    		console.log ('incoming notice: ', data.msg);
    		$scope.notice = data.msg;
    	});

    	socket.on('registration_error', function(data) {
    		console.log("incoming registration error: ", data);
    		$scope.reg_error = data.reg_error;
    	});

		$scope.login = function (user) {
			socket.emit('/sessions/create', user);
		};

		$scope.addUser = function(user) {
			socket.emit('/users/create', user);
		};

	    socket.on('user_authenticated', function(data) {
			window.location.href = "/index";	    	
	    });

    	$scope.$on('$destroy', function (event) {
    		socket.removeAllListeners();
    	});
	});
	</script>
</head>
<body>
	<header ng-controller="welcomeController">
		<div class="logo col-sm-4">
			<a href="#/welcome"><img src="images/logo.png" alt="logo">odular</a>
		</div>
		<div class="col-sm-5 col-sm-offset-3">
			<form class="css-form form-inline" role="form" name="sign_in" novalidate>
				<input type="text" ng-model="user.email" class="form-control" placeholder="email address" required />
				<input type="password" ng-model="user.password" class="form-control" placeholder="password" required />
				<button class="btn btn-primary" ng-click="login(user)" ng-disabled="sign_in.$invalid">Sign in</button>
			</form>
		</div>
	</header>
	<div class="main_content" ng-view></div>
</body>
</html>