<!DOCTYPE html>
<html lang="en" ng-app="welcome">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/welcome.css" />


	<script>
	var welcome = angular.module('welcome', ['ngRoute']);

	var ioo = io;

	welcome.config(function ($routeProvider) {
		$routeProvider
			.when('/welcome',
			{
				templateUrl: '/partials/welcome.html'
			})
			.when('/register',
			{
				templateUrl: '/partials/register.html'
			})
			.otherwise({
				redirectTo: '/welcome'
			});
	});


	welcome.factory('socket', function ($rootScope) {
	  var socket = ioo.connect();
	  return {
	    on: function (eventName, callback) {
	      socket.on(eventName, function () {  
	        var args = arguments;
	        $rootScope.$apply(function () {
	          callback.apply(socket, args);
	        });
	      });
	    },
	    emit: function (eventName, data, callback) {
	      socket.emit(eventName, data, function () {
	        var args = arguments;
	        $rootScope.$apply(function () {
	          if (callback) {
	            callback.apply(socket, args);
	          }
	        });
	      })
	    }
	  };
	});


    welcome.controller('welcomeController', function($scope, socket){
		$scope.hello = "hi everyone.  how's it going?";
		console.log('emitting order_ice_cream', {quantity: 5});
		socket.emit('order_ice_cream', {quantity: 5});
    });	

    io = io.connect();
    io.emit('order_ice_cream', {data: 'welcome!'});

	</script>
</head>
<body>
	<header>
		<div class="logo col-sm-4">
			<a href="#/welcome"><img src="images/logo.png" alt="logo">odular</a>
		</div>
		<div class="col-sm-3">
			<a href="#/register"><button class="btn btn-primary">Sign up</button></a>
		</div>
		<div class="col-sm-5">
			<form action="/sessions/create" method="post" class="form-inline" role="form">
				<input type="text" name="user[email]" class="form-control" placeholder="email address">
				<input type="password" name="user[password]" class="form-control" placeholder="password">
				<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</header>

	<div class="main_content col-sm-9" ng-view></div>

</body>
</html>